<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Exo+2" rel="stylesheet">
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <header>
        <div class="logo"></div>
    </header>
    <div class="layout">
        <div class="title center">
            <h1>Ford mustang<br>gt 500</h1>
            <h2>Muscle car</h2>
        </div>
        <div class="main_photo"></div>
        <div class="number center">
            <h1>022</h1>
        </div>
        <div class="arrow center">
            <p> &loz; </p>
        </div>
        <div class="followers center">
            <h1 class="followText">34660</h1>
            <p class="followP">followers</p>
        </div>
        <div class="following center">
            <h1 class="followText">5253</h1>
            <p class="followP">following</p>
        </div>
        <nav>
            <ul>
                <li class="center"><a href="#">about</a></li>
                <li class="center"><a href="#">photo</a></li>
                <li class="center"><a href="#">video</a></li>
            </ul>
        </nav>
        <div class="bottom_photo"></div>
        <div class="small_photo"></div>
        <div class="drive center">
            <h1 class="followText">3251</h1>
            <p class="followP">Drive</p>
        </div>
        <footer>
            <p>tuning</p>
            <p>whels</p>
            <p>repair</p>
        </footer>

    </div>
</body>

</html>